body {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #1B1B2F;
}

.container {
    display: grid;
    grid-template-rows: 50px 10fr;
    height: 700px;
    width: 600px;
    padding: 8px;
    gap: 32px;

}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 4px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.35);
    background-color: #22223B;
}

#title {
    justify-self: center;
    color: #F2E9E4;
}

.attribution {
    font-size: 12px;
    opacity: 0.6;
    text-align: center;
    margin-bottom: 8px;
    color: #F5F5F5;
    grid-column: 1 / 4;
}

.cell {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #2B2D52;
    height: auto;
    width: auto;
}

.token {
    height: 130px;
    width: auto;
}

.fontdiner-swanky-regular {
    font-family: "Fontdiner Swanky", serif;
    font-weight: 400;
    font-style: normal;
}

#game-result-popup {
    display: none;
    position: fixed;
    top: 5%;
    justify-self: center;
    color: #f2e9e4;
}

#restart-btn {
    width: 120px;
    justify-self: center;
    height: 40px;
    border-radius: 999px;
    border: none;
    background-color: #C6A15B;
    color: #111827;
    cursor: pointer;
}

#restart-btn:hover {
    background-color: #e09b1a;
    transform: translateY(5px);
}

.player {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-self: center;
    padding: 16px;
}

#player1-name,
#player2-name {
    width: 150px;
    outline: none;
    border: none;
    border-radius: 10px;
    height: 25px;
    padding: 5px;
    background-color: #F2E9E4;
}

.player>img {
    transition: transform 0.8s ease-in-out;
}

.player>img:hover {
    transform: rotate(360deg);
}