body {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 1fr;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: bisque;
}

.container {
    display: grid;
    grid-template-rows: 1fr 10fr;
    height: 600px;
    width: 600px;
    background-color: rgb(99, 121, 139);
    padding: 8px;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: aquamarine;
    gap: 4px;
}

#title {
    justify-self: center;
}

.attribution {
    font-size: 12px;
    opacity: 0.6;
    text-align: center;
    margin-bottom: 8px;
}

.board-cell {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: auto;
    width: auto;
}